<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.slicknav.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.counterup.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/waypoints-min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/wow.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/mini.js') }}"></script>
<script src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
